<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/header.ejs %>
    <script src="/scripts/prove09.js" defer></script>
  </head>

  <body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <form method="POST" action="/prove01">
          <h1><%= title %></h1>
      </div>
    </div>
    <div class="container">
            <ul id="pokemonList">

            </ul>
            <a id="previous" class="btn">Previous</a>
            <a id="next" class="btn">Next</a>
      </div>
  </body>
</html>
